*{
    margin: 0%;
    padding: 0%;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --text-color:#302e29;
    --main-color:#ff9100;
    --second-color:#858585;
    --bg-color:#fffbf6;
    --big-font: 4.5rem;
    --h2-font:2.6rem;
    --p-font:1.1rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
position: absolute;
width: 100%;
top: 0;
right: 0;
display: flex;
align-items: center;
justify-content: space-between;
background: var(--bg-color);
padding: 23px 15%;
transition: all .38s ease;
position: fixed;
top: 0;
right: 0;
z-index: 999;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: var(--text-color);
}

span{
   color: var(--main-color);
}

.navbar{
    display: flex;
}

.navbar a{
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 600;
    padding: 5px 10px;
    margin: 2px 25px;
    border-bottom: 2px solid transparent;
    transition: all .38s ease;
}

.navbar a:hover{
    border-bottom: 2px solid var(--main-color);
    color: var(--main-color);
}

.h-icons{
    display: flex;
    align-items: center;
    padding: 10px 22px;
    background: var(--main-color);
    border-radius: 5rem;
}

.h-icons i{
    font-size: 22px;
    color: var(--bg-color);
    margin-right: 15px;
    margin-left: 8px;
}

#menu-icon{
    font-size: 32px;
    color: var(--bg-color);
    z-index: 1001;
    cursor: pointer;
    display: none;

}


 /* HOME SECTION */
 section {
     padding: 90px 15% 80px;
 }

 .home{

display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, auto));
align-items: center;
gap: 2rem;


 }

 .home-img img{
     width: 80%;
     height: auto;
 }

 .home-text h1{
     font-size:3.5rem;
     line-height: 1.2;
     margin-bottom: 2rem;
 }



 .home-text p{
     font-size: var(--p-font);
     font-weight: 400;
     color: var(--second-color);
     line-height: 32px;
     margin-bottom: 2.3rem;
 }

 .btn{
     border-radius: 5rem;
     color: var(--bg-color);
     padding: 20px 30px;
     background: var(--main-color);
     font-size: 15px;
     font-weight: 500;
     display: inline-block;
     transition: all .38s ease;
 }

 .btn:hover{
     letter-spacing: 1px;
 }

 @media (max-width: 880px){
     
 
    .logo{
        font-size: 20px;
      
    }

 .home-text h1{
    font-size:2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

#menu-icon{
    display: block;
    
}

.h-icons i{
    display:none;
}
.navbar{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 250px;
    height: 110vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 180px 40px;
    transition: all .38s ease;
}

.navbar a{
    display: block;
    margin: 1.3rem 0;
}

.navbar.open{
    right:0;
}

.home-text p{
    font-size: 1rem;
    font-weight: 200;
    color: var(--second-color);
    line-height: 32px;
    margin-bottom: 1.3rem;
}
.btn{
    border-radius: 5rem;
    padding: 10px 25px;
    font-size: 13px;
    font-weight: 400;
}


 }


 /* <!-- container section --> */

 .main-text h2{
     font-size: var(--h2-font);
     margin-bottom: 10px;
 }

 .main-text p {
     font-size: var(--p-font);
     font-weight: ;
     color: var(--second-color);
     line-height: 32px;

 }

 .container-box {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, auto));
     gap: 1rem;
     align-items: center;
     margin-top: 4rem;
 }

 .c-mainbox{
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 1.4rem;
     border-radius: 10px;
     height: 90px;
     background: var(--bg-color);
     box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
     transition: all .38s ease;
 }

 .c-mainbox:hover{
transform: translate(10px);
cursor: pointer;
 }

 .container-box text{
     font-size: var(--p-font);
     font-weight: 500;
 }

 @media (max-width: 880px){
    .main-text h2{
        font-size: 2rem;
    }

    .main-text p{
        font-size: 1rem;
    }


 }

 /* about section */
 .about{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 2rem;
 }

 .about-text h2{
    font-size: var(--big-font);
     line-height: 1;
     margin-bottom: 2rem;

 }

 .about-text p{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--second-color);
    line-height: 22px;
    margin-bottom: 2.3rem;
 }

 .about-img img{
    width: 80%;
    height: auto;
}

@media (max-width: 880px){

    .about-text h2{
        font-size:2rem;
        line-height: 1.2;
        margin-bottom: 1rem;
    
}

.about-text p{
    font-size: var(--p-font);
    font-weight: 400;
    color: var(--second-color);
    line-height: 32px;
    margin-bottom: 2.3rem; 
}

}

/* menu section */


.menu-content{
    display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, auto));
     gap: 2rem;
     align-items: center;
     margin-top: 4rem;
     
}

.row img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.row{
    transition: all .38s ease;
}

.menu-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.menu-left h4{
    font-size: 23px;
}

.menu-right h5{
   color: var(--main-color);
   font-size: 23px;
}

.row p{
   color: var(--second-color);
   font-size: 15px;
   line-height: 30px;
   margin-bottom: 15px;
}

.star i{
   color: var(--main-color);
   font-size: 17px;
   margin-right: 4px;
}

.row:hover{
    transform: scale(1.02);
}

/* contact section */

.contact{
    padding: 50px 15% 40px;
}

.main-contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
     gap: 2rem;
}

.contact-content h4{
    margin-bottom: 1.5rem;
    font-size: 20px;
    color: var(--text-color);
}

.contact-content li{
    margin-bottom: 16px;
}
.contact-content li a{
    display: block;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    transition: all .38s ease;
}

.contact-content li a:hover{
    transform: translateX(10px);
    color:var(--main-color);
}

.last-text{
    text-align: center;
    padding: 25px;
    color: var(--text-color);
    font-size: 15px;
}

.scroll-top{
    position: fixed;
    bottom: 2.2rem;
    right: 2.2rem;
}

.scroll-top i{
    padding: 8px;
    font-size: 1.4rem;
    background: var(--main-color);
    border-radius: 5rem;
    color: #fff;
}